<div id="mycompany-admin" class="mc-admin" data-plugin="{{pluginShortName}}">
    <h2>My Company</h2>
    <div class="mc-admin-subtitle">Consolidated plugin administration</div>
    <div class="mc-admin-tabs">
        <button type="button" data-tab="overview" class="active">Overview</button>
        <button type="button" data-tab="settings">Settings</button>
        <button type="button" data-tab="debug">Debug</button>
    </div>
    <div id="mycompany-admin-content"></div>
</div>
<script>window.MyCompanyAdminData={{{adminDataJson}}};</script>
<link rel="stylesheet" href="pluginadmin.ashx?pin={{pluginShortName}}&asset=admin.css">
<link rel="stylesheet" href="pluginadmin.ashx?pin={{pluginShortName}}&asset=admin-ui-enhancements.css">
<script src="pluginadmin.ashx?pin={{pluginShortName}}&asset=admin.js"></script>
<script src="pluginadmin.ashx?pin={{pluginShortName}}&asset=admin-approval-policy.js"></script>
<script src="pluginadmin.ashx?pin={{pluginShortName}}&asset=admin-layout.js"></script>
<script src="pluginadmin.ashx?pin={{pluginShortName}}&asset=admin-ui-enhancements.js"></script>